---
interface Props {
  title: string;
  body: string;
  href: string;
  cat: string;
}

const { href, title, body, cat } = Astro.props;
---

<a
  href={href}
  class="bg-white transition border-2 hover:border-zinc-950 h-36 flex shadow-xl overflow-hidden rounded-xl"
>
  <img
    class="w-56 max-lg:w-32 object-cover border-r-2"
    src="https://camo.githubusercontent.com/a92fce932106073b4759cd8c4e4834fd4c8c5dd65ac5f093682f687816febd1b/68747470733a2f2f692e6962622e636f2f4c51766d3378342f68746d6c2d6373732d747269702d6e65746c6966792d6170702d74762e706e67"
    alt={title}
  />
  <div class="p-4 max-lg:p-3 gap-1 flex flex-col">
    <h2 class="justify-between text-xl font-semibold line-clamp-2">
      {title}
    </h2>
    <p class="text-xs bg-zinc-200 py-1 px-2 rounded-full line-clamp-3">
      {cat}
    </p>
    <p class="text-sm line-clamp-2">
      {body}
    </p>
  </div>
  <div class="items-end hidden flex ml-auto mr-5 pb-3 h-36">
    <span class="text-3xl">&rarr;</span>
  </div>
</a>
