---
interface Props {
  title: string;
  body: string;
  href: string;
  cat: string;
}

const { href, title, body, cat } = Astro.props;
---

<a
  href={href}
  class="bg-white transition border-2 hover:border-zinc-950 h-36 flex shadow-xl overflow-hidden rounded-xl"
>
  <img class="w-52 max-lg:w-32 object-cover" src="./home.png" alt={title} />
  <div class="p-4 max-lg:p-3 gap-1 flex flex-col">
    <h2 class="justify-between text-xl font-semibold line-clamp-2">
      {title}
    </h2>
    <p class="text-xs bg-zinc-200 py-1 px-2 rounded-full line-clamp-3">
      {cat}
    </p>
    <p class="text-sm line-clamp-2">
      {body}
    </p>
  </div>
  <div class="items-end hidden flex ml-auto mr-5 pb-3 h-36">
    <span class="text-3xl">&rarr;</span>
  </div>
</a>
