---
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetDescription,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from "@/components/ui/sheet";

import { Button } from "@/components/ui/button";

const data = await import("../api/config.json");

const pathname = Astro.url.pathname;
---

<header
  class={`flex row text-lg justify-center items-center px-6 h-24 ${pathname === "/" ? "bg-[#64E19E] text-[#2F5A43]" : ""}`}
>
  <nav
    class="container max-w-screen-lg flex flex-col gap-4 sm:!flex sm:flex-row"
  >
    <div class="flex items-center flex-1">
      <a
        href="/"
        class="flex items-center space-x-2 text-xl font-bold transition rounded-full px-2 py-2"
      >
        <p>{data.default[0].name}</p>
      </a>
    </div>
    <div
      class="flex flex-2 max-lg:hidden text-base row gap-8 justify-center items-center"
    >
      {
        data.default[0].menu.map((item) => (
          <>
            <a href={item.href} title={item.title}>
              {item.title}
            </a>
          </>
        ))
      }
    </div>
    <div
      class="flex max-lg:hidden flex-1 items-center row gap-5 *:text-3xl justify-end *:*:fill-black"
    >
      {
        data.default[0].social.slice(0, 4).map((item) => (
          <a href={item.href} target="_blank" title={item.title}>
            <i class={`${item.icon} text-2xl`} />
          </a>
        ))
      }
    </div>
  </nav>

  <Button>Open</Button>
</header>
