---
const data = await import("../api/config.json");
---

<script>
  document.getElementById("toggle").addEventListener("click", function () {
    var menu = document.getElementById("menu");
    menu.classList.replace("hidden", "visible");
    menu.classList.replace("animate__fadeOut", "animate__fadeIn");
    document.body.style.overflow = "hidden";
  });

  document.getElementById("toggleClose").addEventListener("click", function () {
    var menu = document.getElementById("menu");
    menu.classList.replace("visible", "hidden");
    menu.classList.replace("animate__fadeIn", "animate__fadeOut");
    document.body.style.overflow = "";
  });
</script>

<header class="flex row text-lg justify-center items-center px-8 h-24">
  <nav
    class="container max-w-screen-lg flex flex-col gap-4 sm:!flex sm:flex-row"
  >
    <div class="flex items-center flex-1">
      <a
        href="/"
        class="flex items-center space-x-2 text-xl font-bold transition rounded-full hover:bg-zinc-200 px-2 py-2"
      >
        <img src={data.default[0].logo} class="w-10 rounded-full" />
        <p>{data.default[0].name}</p>
      </a>
    </div>
    <div
      class="flex flex-2 max-lg:hidden font-medium *:opacity-60 hover:*:opacity-100 row gap-12 justify-center items-center"
    >
      {
        data.default[0].menu.map((item) => (
          <>
            <a href={item.href}>{item.title}</a>
          </>
        ))
      }
    </div>
    <div
      class="flex max-lg:hidden flex-1 items-center row gap-5 *:text-3xl justify-end *:*:fill-black *:*:opacity-40 hover:*:*:opacity-100"
    >
      {
        data.default[0].social.slice(0, 3).map((item) => (
          <a href="/" title={item.title}>
            <i class={`${item.icon} text-2xl`} />
          </a>
        ))
      }
    </div>
  </nav>
  <button id="toggle" class="hidden max-lg:block">menu</button>
</header>

<div
  id="menu"
  class="absolute animate__animated animate__fadeIn opacity-0 hidden transition -mt-24 w-full z-10 shadow-2xl overflow-hidden h-dvh bg-white"
>
  <div class="flex justify-between px-8 h-24 items-center">
    <h3 class="font-bold animate__animated animate__fadeInLeft text-xl">
      @erayjs
    </h3>
    <button id="toggleClose" class="animate__animated animate__fadeInRight"
      >kapat</button
    >
  </div>

  <div class="flex flex-col px-8 gap-4 *:text-3xl mt-2 *:font-bold">
    {
      data.default[0].menu.map((item) => (
        <>
          <a href={item.href} class="animate__animated animate__fadeInLeft">
            {item.title}
          </a>
        </>
      ))
    }
  </div>

  <div
    class="bg-zinc-100 animate__animated animate__fadeInUp flex flex-1 flex-col m-8 overflow-hidden items-center rounded-2xl"
  >
    {
      data.default[0].social.slice(0, 3).map((item) => (
        <a
          href="/"
          title={item.title}
          class="flex h-16 px-6 transition hover:bg-zinc-200 w-full items-center gap-4"
        >
          <i class={`${item.icon} text-2xl`} />
          <p class="font-semibold">{item.title}</p>
        </a>
      ))
    }
  </div>
</div>
